---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to DVW Systems</h1>
			<p>
				Our passion is to create workflows that automate processes and improve efficiency.
				We provide project management services to help our customers during the digital transition process.
			</p>
			
		</main>
		<Footer />
	</body>
</html>
